CompileFlags:
  Remove:
    - "-fmodule*"
    - "-fdeps-format*"
Diagnostics:
  Suppress: ["type_unsupported"]
  ClangTidy:
    Add: [ ]
    # Remove:
Index:
  Background: Build
  StandardLibrary: No
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
Hover:
  ShowAKA: Yes