Diagnostics:
  Suppress: ["type_unsupported"]
  # ClangTidy:
Index:
  Background: Build
  StandardLibrary: Yes
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
Hover:
  ShowAKA: Yes
